<div class="bottom-project-nav uk-width-1-1 uk-margin">
    <div class="work-navigation uk-margin-large uk-child-width-1-2@m" uk-grid uk-height-match="target: > div > .uk-card">
        {% if post_next is not None %}
        <div>
            <a class=" card-work" href="{{ post_next.get_url }}">
                <div class="uk-card uk-card-default">
                    <div class="card-header">
                        <img class="uk-width-1-1" data-src="/media/{{ post_next.image }}" alt="{{ post_next.title }}" uk-img>
                    </div>
                    <div class="uk-card-body">
                        <h4>Назад: {{ post_next.title }}</h4>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% if post_previos is not None %}
        <div>
            <a class="card-work" href="{{ post_previos.get_url }}">
                <div class="uk-card uk-card-default">
                    <div class="card-header">
                        <img class="uk-width-1-1" data-src="/media/{{ post_previos.image }}" alt="{{ post_previos.title }}" uk-img>
                    </div>
                    <div class="uk-card-body">
                        <h4>Вперед: {{ post_previos.title }}</h4>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
    </div>
</div>