{% extends 'base.html' %}
{% block title %}
{{ post.title }} | {{ site_title }}
{% endblock %}
{% block breadcrumps %}
<ul class="uk-breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a href="/" itemprop="item">
            <span itemprop="name">Сайт</span>
            <meta itemprop="position" content="0">
        </a>
    </li>
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a href="/" itemprop="item">
            <span itemprop="name">Блог</span>
            <meta itemprop="position" content="1">
        </a>
    </li>
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <span itemprop="item">
            <span itemprop="name">{{ post.title }}</span>
            <meta itemprop="position" content="2">
        </span>
    </li>
</ul>
{% endblock %}
{% block content %}
<h1>{{ post.title }}</h1>
<div class="uk-margin">
    {% for t in post.tag_list.all %}
    <a class="uk-label uk-label-success" href="{{ t.get_url }}">{{ t.title }}</a>
    {% endfor %}
</div>
<div uk-grid>
    <div uk-lightbox class="uk-width-1-2@m">
        <div>
            <a href="/media/{{ post.image.url }}">
                <img class="uk-width-1-1" data-src="/media/{{ post.image.url }}" alt="{{ post.title }}" uk-img>
            </a>
        </div>
        <div class="uk-margin" uk-grid>
            {% for img in image_list %}
            <div class="uk-width-1-6">
                <a href="{{ img }}">
                    <img data-src="{{ img }}" alt="{{ post.title }}" uk-img>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="uk-width-1-2@m">
        <div>
            <div>
                {{ post.full_text | safe }}
            </div>
            <p>Дата публикации: {{ post.date_publish | date }}</p>
            <h4>Категория</h4>
            <p>
                <a class="uk-button uk-button-primary" href="{{ post.category.get_url }}">{{ post.category.title }}</a>
            </p>
        </div>
    </div>
</div>
{% include 'blog/include/post_related.html' %}
{% include 'blog/include/post_nav.html' %}
{% endblock %}